<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ist.meic.cmu.locmess_client">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <provider
            android:name=".LocMessProvider"
            android:exported="false"
            android:authorities="ist.meic.cmu.locmess_client.LocMessProvider" />

        <service android:name=".network.sync.GenericAccountService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service android:name=".network.sync.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter"/>
        </service>

        <receiver android:name=".network.location_update.AlarmReceiver">
            <intent-filter>
                <action android:name="@string/ALARM_ACTION" />
            </intent-filter>
        </receiver>

        <service android:name=".network.location_update.LocationUpdateService"
            android:exported="false"/>
        <service android:name=".network.location_update.FetchLocationMessagesService"
            android:exported="false"/>

        <activity
            android:name=".authentication.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".messages.inbox.InboxActivity"
            android:label="@string/title_activity_inbox"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.WithDrawer" />
        <activity
            android:name=".messages.ShowMessageActivity"
            android:label=""
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".profile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.WithDrawer" />
        <activity
            android:name=".navigation.BaseNavigationActivity"
            android:label="@string/title_activity_base_navigation"
            android:theme="@style/AppTheme.WithDrawer" />
        <activity
            android:name=".location.LocationsActivity"
            android:label="@string/title_activity_locations"
            android:theme="@style/AppTheme.WithDrawer" />
        <activity
            android:name=".location.create.NewLocationActivity"
            android:label="@string/title_activity_new_location"
            android:parentActivityName=".location.LocationsActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".location.LocationsActivity" />
        </activity>
        <activity
            android:name=".messages.posted.PostedActivity"
            android:label="@string/title_activity_posted"
            android:theme="@style/AppTheme.WithDrawer"/>

        <activity
            android:name=".messages.create.NewMessageActivity"
            android:label="New Message"
            android:theme="@style/AppTheme" />

    </application>

</manifest>